body {
  margin: 0;
  padding: 0;
  font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #767676; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  height: 50px;
  color: #fafafa;
  background-color: #222533; }
  .header .brand {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    width: 220px;
    height: 100%;
    position: absolute; }
  .header .header-nav {
    padding: 10px 0 0 220px;
    font-size: 16px;
    line-height: 22px; }
    .header .header-nav ul {
      list-style: none;
      margin-top: 0;
      margin-bottom: 10px;
      padding: 0 12px; }
      .header .header-nav ul.nav-left {
        float: left; }
      .header .header-nav ul.nav-right {
        float: right; }
      .header .header-nav ul li {
        float: left; }
        .header .header-nav ul li a {
          position: relative;
          background-color: #eee;
          display: block;
          padding: 4px 8px;
          border-radius: 22px;
          background-color: transparent;
          color: #fafafa; }

.sidebar {
  position: absolute;
  display: block;
  border-right: 2px solid #e5e5e5;
  width: 220px;
  height: 100%;
  background-color: #fefefe;
  padding: 0; }
  .sidebar ul {
    padding-left: 0;
    list-style: none;
    height: 100%;
    margin-top: 0; }
  .sidebar ul > li > a {
    position: relative;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    transition: all 0.2s ease-in-out;
    color: #767676;
    font-weight: bold; }

.content {
  position: absolute;
  top: 50px;
  left: 220px;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
  color: #34495e;
  background-color: #f3f3f3; }
  .content .page {
    padding: 15px 0; }

@media only screen and (max-width: 550px) {
  .content {
    left: 0; }

  .sidebar {
    left: -220px; } }
/* Grid structure */
.row,
.column {
  box-sizing: border-box; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.column {
  position: relative;
  float: left;
  display: block;
  padding-left: 15px;
  padding-right: 15px; }

.column-1 {
  width: 8.33333%; }

.column-2 {
  width: 16.66667%; }

.column-3 {
  width: 25%; }

.column-4 {
  width: 33.33333%; }

.column-5 {
  width: 41.66667%; }

.column-6 {
  width: 50%; }

.column-7 {
  width: 58.33333%; }

.column-8 {
  width: 66.66667%; }

.column-9 {
  width: 75%; }

.column-10 {
  width: 83.33333%; }

.column-11 {
  width: 91.66667%; }

.column-12 {
  width: 100%;
  margin-left: 0; }

@media only screen and (max-width: 550px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: none;
    width: auto; }

  .column + .column {
    margin-left: 0; } }
/*------------------------------*\
Styling
\*------------------------------*/
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-body {
  padding: 15px; }

.row {
  margin-bottom: 10px; }

.row:last-child {
  margin-bottom: 0; }

.column .column {
  color: #eee;
  background: #333;
  border-color: #000; }

@media only screen and (max-width: 550px) {
  .row {
    margin-bottom: 0; }

  .column {
    margin-bottom: 10px; }

  .row:last-child .column:last-child {
    margin-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
