<html>
  <head>
  </head>
  <body>
    <div id="react-app"></div>
    <script src="dist/bundle.js"></script>
    <h1>Front end playground</h1>
    <h2>CSS</h2>
    <ul>
      <li v-for="item in cssList">
          <a href={{item.filePath}}>{{item.title}} ({{item.date}})</a> <a href="{{baseURL}}/{{item.filePath}}" target="_blank">Source</a>
      </li>
    </ul>
    <h2>JavaScript</h2>
    <ul>
      <li v-for="item in jsList">
          <a href={{item.filePath}}>{{item.title}} ({{item.date}})</a> <a href="{{baseURL}}/{{item.filePath}}" target="_blank">Source</a>
      </li>
      <li>Redux Kanban board UI (Drag&Drop)</li>
      <li>Redux Color Slider</li>
    </ul>
    <h2>Chart / Data Visualization</h2>
    <ul>
      <li v-for="item in d3List">
          <a href={{item.filePath}}>{{item.title}} ({{item.date}})</a> <a href="{{baseURL}}/{{item.filePath}}" target="_blank">Source</a>
      </li>
      <li>D3 area chart</li>
      <li>D3 pie chart</li>
      <li>D3 bar chart</li>
      <li>D3 bubble chart</li>
      <li>World Statistics (Population, GDP, etc.)</li>
      <li>Historical Stock Price Viewer(Ticker, Date range, Add-remove series)</li>
    </ul>
    <h2>Games</h2>
    <ul>
      <li>Othello</li>
      <li>Tetris</li>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.js" type="text/javascript"></script>
    <script type="text/javascript">
      var baseURL = 'https://github.com/yusuke-nozoe/yusuke-nozoe.github.io/blob/master';
      var cssList = [
        { date: '2016/04/01', filePath: "two-columns.html", title: 'Two columns' },
        { date: '2016/04/01', filePath: 'five-sections.html', title: 'Five sections' },
        { date: '2016/04/02', filePath: 'circle.html', title: 'Circle' },
        { date: '2016/04/02', filePath: 'triangle.html', title: 'Triangle' },
        { date: '2016/04/02', filePath: 'grid.html', title: 'Grid Structure' },
        { date: '2016/04/02', filePath: 'responsive.html', title: 'Responsive Grid' },
        { date: '2016/04/02', filePath: 'pinterest-ui.html', title: 'Pinterest like UI' },
        { date: '2016/04/03', filePath: 'sidebar-scroll.html', title: 'Sidebar Scroll' },
        { date: '2016/04/03', filePath: 'sidebar-responsive.html', title: 'Sidebar Responsive' },
        { date: '2016/04/03', filePath: 'fonts.html', title: 'Fonts' },
        { date: '2016/04/03', filePath: 'dashboard', title: 'Dashboard UI' },
        { date: '2016/04/04', filePath: 'icons', title: 'Icons' }
      ];
      var jsList = [
        { date: '2016/04/03', filePath: "angular-hello-world.html", title: 'Hello world in AngularJS 1.x' },
        { date: '2016/04/03', filePath: "backbone-hello-world.html", title: 'Hello world in BackboneJS' },
        { date: '2016/04/03', filePath: "vue-hello-world.html", title: 'Hello world in Vue.js' },
        { date: '2016/04/03', filePath: "react-hello-world", title: 'Hello world in React' },
        { date: '2016/04/03', filePath: "redux-counter", title: 'Redux Counter' },
        { date: '2016/04/03', filePath: "redux-infinite-scroll", title: 'Redux Infinite Scroll' }
      ];
      var d3List = [
        { date: '2016/04/03', filePath: "d3-line.html", title: 'D3 line chart (Yahoo stock price)' },
        { date: '2016/04/03', filePath: "d3-multi-line.html", title: 'D3 multi-series line chart' }
      ];
      new Vue({
        el: 'body',
        data: {
          baseURL: baseURL,
          cssList: cssList,
          jsList: jsList,
          d3List: d3List
        }
      });
    </script>
  </body>
</html>
