$small-screen-width: 550px;

body {
  margin: 0;
  padding: 0;
  font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(118, 118, 118);
}
.header {
  width: 100%;
  height: 50px;
  color: #fafafa;
  background-color: #222533;
  .brand {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    width: 220px;
    height: 100%;
  }
}

.sidebar {
  position: absolute;
  display: block;
  border-right: 2px solid rgb(229, 229, 229);
  width: 220px;
  height: 100%;
  background-color: #fefefe;
  padding: 0;
  ul {
    padding-left: 0;
    list-style: none;
    height: 100%;
    margin-top: 0;
  }
  ul > li > a {
    position: relative;
    display: block;
    padding: 15px;
    border-bottom: 1px solid rgb(229, 229, 229);
    transition: all 0.2s ease-in-out;
    color: #767676;
    text-decoration: none;
    font-weight: bold;
  }
}

.content {
  position: absolute;
  top: 50px;
  left: 220px;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
  color: #34495e;
  background-color: #f3f3f3;
  .page {
    padding: 15px;
  }
}

@media only screen and (max-width: $small-screen-width) {
  .content {
    left: 0;
  }
  .sidebar {
    left: -220px;
  }
}
/* Grid structure */
.row, 
.column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;
  display: block;
}

.column-1 { width: 1 / 12 * 100%; }
.column-2 { width: 2 / 12 * 100%; }
.column-3 { width: 3 / 12 * 100%; }
.column-4 { width: 4 / 12 * 100%; }
.column-5 { width: 5 / 12 * 100%; }
.column-6 { width: 6 / 12 * 100%; }
.column-7 { width: 7 / 12 * 100%; }
.column-8 { width: 8 / 12 * 100%; }
.column-9 { width: 9 / 12 * 100%; }
.column-10 { width: 10 / 12 * 100%; }
.column-11 { width: 11 / 12 * 100%; }
.column-12 {
  width: 100%;
  margin-left: 0;
}

@media only screen and (max-width: $small-screen-width) {
  .column-1, 
  .column-2, 
  .column-3, 
  .column-4, 
  .column-5, 
  .column-6, 
  .column-7, 
  .column-8, 
  .column-9, 
  .column-10, 
  .column-11, 
  .column-12 {
    float: none;
    width: auto;
  }

  .column + .column {
    margin-left: 0;
  }
}

/*------------------------------*\
Styling
\*------------------------------*/

.column {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #777;
  padding: 5px;
  min-height: 30px;
  text-align: center;
}

.row {
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

.column .column {
  color: #eee;
  background: #333;
  border-color: #000;
}

@media only screen and (max-width: $small-screen-width) {
  .row {
    margin-bottom: 0;
  }
  .column {
    margin-bottom: 10px;
  }
  .row:last-child .column:last-child {
    margin-bottom: 0;
  }
}
